# This is Git's per-user configuration file.
# Please adapt and uncomment the following lines:
[core]
  excludesfile = /Users/shawn.kim/.gitignore_global
[diff "localizablestrings"]
  #textconv = "iconv -f utf-16 -t utf-8"
  textconv = "iconv -t utf-8"
  binary = false
